{% extends 'account/base.html' %}
{% load static %}
{% block title %} Chat {% endblock %}


{% block content %}

	{% include "account/nav.html" %}

<div class="account-wrapper reduce-padding">

	<!-- Do not delete this div. It is the chat renderer -->
	<div id= "chat-box"></div>
	
	<form method="post" id="chat-form">
		{% csrf_token %}
		<input type="text" name="message" required placeholder="Type Message...">
		<button type="submit" id="msg-btn">Send</button>
	</form>
</div>

<script>
	var id = "{{ id }}";
	var uname = "{{ uname }}";
	var getMessageURL = `/get-message/${id}/${uname}/`;
	var sender = "{{ request.user }}";
	var senderID = "{{ request.user.id }}";
	var chatContent = document.getElementById("chat-box");

	function getChatMessages () {
		var request = new XMLHttpRequest();
		request.open("GET", getMessageURL)
		request.onload = function () {
			data = JSON.parse(request.responseText);
			var chatHTML = "";

			for (var i = 0; i < data.chat_messages.length; i++)
			{
				if (sender === data.chat_messages[i].sender_id)
				{
					chatHTML += `
					<div class="message-box go-right">
						<p>${data.chat_messages[i].message}</p>
						<span id="date">${data.chat_messages[i].date_created}</span>
					</div>
					`;
				}
				else
				{
					chatHTML += `
						<div class="message-box">
							<span>@${data.chat_messages[i].sender_id}</span>
							<p>${data.chat_messages[i].message}</p>
							<span id="date">${data.chat_messages[i].date_created}</span>
						</div>
					`;
				}

			}
			chatContent.innerHTML = chatHTML;
		}
		request.send()
	}
	window.setInterval(getChatMessages, 1000);

</script>


{% endblock %}