{% extends "account/root.html" %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}

{% block content %}
                  
	<form class="row g-3 needs-validation" method= "post" novalidate>
	{% csrf_token %}
		{{ form|crispy }}
		
		<div class="col-12">
			<button class="btn btn-primary w-100" type="submit">Login</button>
		</div>
		
		<div class="col-12">
			<p class="small mb-0">Don't have account? <a href="{%  url 'signup' %}">Create an account</a></p>
		</div>
		
	</form>

{% endblock %}