{% extends 'account/base.html' %}
{% block title %} Login {% endblock %}


{% block content %}

    <div class="account-wrapper">
        <form method= "post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <p id="error-msg">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required class= "passwd">
            <button type="submit" id="signup-btn">Login</button>
            <span>Not signed up?</span>
            <a href="{% url 'signup' %}">Signup</a>
        </form>
    </div>

{% endblock %}