{% extends "account/root.html" %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}

	
{% block content %}

	<div class="card mb-3">
		<div class="card-body">
			<div class="pt-4 pb-2">
				<h5 class="card-title text-center pb-0 fs-4">Sign In to an Account</h5>
				<p class="text-center small">Enter your personal details to login to an account</p>
			</div>
			<form class="row g-3 needs-validation" method= "post" novalidate>
			{% csrf_token %}
				{{ form|crispy }}
				
				<a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
				
				<div class="col-12">
					<button class="btn btn-primary w-100" type="submit">Login</button>
				</div>
				
				<div class="col-12">
					<p class="small mb-0">Don't have account? <a href="{%  url 'signup' %}">Create an account</a></p>
				</div>
			</form>
			<div class="col-12 mt-3">
					<button class="btn btn-primary w-100">
						<a style="color: #fff;" href="{% url 'social:begin' 'facebook' %}">Login With Facebook</a>
					</button>
				</div>
		</div>
	</div>


{% endblock %}