{% extends "account/root.html" %}
{% load crispy_forms_tags %}
{% block title %} Reset Password {% endblock %}


{% block content %}

	<div class="card mb-3">
		<div class="card-body">
			<div class="pt-4 pb-2">
				<legend>Reset Password</legend>
				<div>
					<form action="" method="post">
					{% csrf_token %}
						{{ form|crispy }}
						<br>
						<button  type="submit" class= "btn btn-primary form-control">Reset Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}