{% extends "account/root.html" %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}

{% block content %}
	<div class="card mb-3">
		<div class="card-body">
			<div class="pt-4 pb-2">
				<h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
				<p class="text-center small">Enter your personal details to create account</p>
			</div>
			
			<form class="row g-3 needs-validation" method= "post">
			{% csrf_token %}
		
			{{ form|crispy }}
												
				<div class="col-12">
					<button class="btn btn-primary w-100" type="submit">Create Account</button>
				</div>
				
				<div class="col-12">
					<p class="small mb-0">
						Already have an account? <a href="{% url 'login' %}">Log in</a>
					</p>
				</div>
				
			</form><br>
			
			<div class="col-12">
				<a class="alert alert-primary" href="{% url 'social:begin' 'facebook' %}">Login With Facebook</a>
			</div>
		</div>
	</div>

{% endblock %}